.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos img {
  width: 2rem;
}

.footer img {
  width: 3rem;
}

.profile-photo img {
  border: 1px solid burlywood;
  border-radius: 50%;
}

.profile-info-info {
  height: 2vh;
}
.card-header {
  margin: 1rem auto;
  height: 40vh;
}
.profile-photo {
  height: 20vh;
}
.profile-info {
  height: 20vh;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
